.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1em;
  }
  
  .register-form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .register-form label {
    font-weight: bold;
  }
  
  .register-form input[type="text"],
  .register-form input[type="email"],
  .register-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .register-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1e488f;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .register-form input[type="submit"]:hover {
    background-color: #164179;
  }

  .login-link {
    margin-top: 20px;
    text-align: center;
  }
  
  .login-link p {
    font-size: 14px;
  }
  
  .login-link a {
    color: #27251b; /* Same as your navbar color */
    text-decoration: none;
  }
  
  .login-link a:hover {
    text-decoration: underline;
  }

  @media (max-width: 768px) {
    .register-container {
        padding: 1em;
    }

    .register-form {
        width: 90%;
        padding: 1.5em;
    }

    .register-form label,
    .register-form input[type="text"],
    .register-form input[type="email"],
    .register-form input[type="password"],
    .register-form input[type="submit"] {
        font-size: 1em;
    }

    .register-form h3 {
        font-size: 1em;
    }

    .login-link p {
        font-size: 1em;
    }
}